<ion-view view-title="Spinner">
  <ion-content class="padding">
    <ion-spinner icon="ios"></ion-spinner>
    <ion-spinner icon="ios-small"></ion-spinner>
    <ion-spinner icon="bubbles"></ion-spinner>
    <ion-spinner icon="circles"></ion-spinner>
    <ion-spinner icon="crescent"></ion-spinner>
    <ion-spinner icon="dots"></ion-spinner>
    <ion-spinner icon="spiral"></ion-spinner>
    <ion-spinner icon="ripple"></ion-spinner>
    <ion-spinner icon="lines"></ion-spinner>
    <ion-spinner class="spinner-energized"></ion-spinner>
  </ion-content>
</ion-view>
