<ion-view view-title="Buttons">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        outline
      </ion-item>
      <ion-item>
        <button class="button button-outline button-large button-light">
          button-light
        </button>
        <button class="button button-large button-outline button-stable">
          button-stable
        </button>
      </ion-item>
      <ion-item class="item-divider">
        small and large
      </ion-item>
      <ion-item>
        <button class="button button-small">
          Default
        </button>
        <button class="button button-large button-positive">
          button-positive
        </button>
      </ion-item>
      <ion-item class="item-divider">
        block
      </ion-item>
      <ion-item>
        <button class="button button-block button-dark">
          button-dark
        </button>
        <button class="button button-block button-assertive">
          button-assertive
        </button>
      </ion-item>
      <ion-item class="item-divider">
        full width
      </ion-item>
      <ion-item>
        <button class="button button-full button-calm">
          button-calm
        </button>
        <button class="button button-full button-royal">
          button-royal
        </button>
      </ion-item>
      <ion-item class="item-divider">
        clear
      </ion-item>
      <ion-item>
        <button class="button button-clear button-balanced">
          button-balanced
        </button>
      </ion-item>
      <ion-item class="item-divider">
        icons
      </ion-item>
      <ion-item>
        <button class="button button-energized icon-left ion-home">
          button-energized
        </button>
        <a class="button icon-right ion-chevron-right button-calm">Learn More</a>
        <br>
        <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
        <br>
        <button class="button icon ion-gear-a"></button>
        <br>
        <a class="button button-icon icon ion-settings"></a>
        <br>
        <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
      </ion-item>
      <ion-item class="item-divider">
        button bar
      </ion-item>
      <ion-item>
        <div class="button-bar bar-light">
          <a class="button">First</a>
          <a class="button">Second</a>
          <a class="button">Third</a>
        </div>
        <br>
        <div class="button-bar bar-stable">
          <a class="button">First</a>
          <a class="button">Second</a>
          <a class="button">Third</a>
        </div>
        <br>
        <div class="button-bar bar-positive">
          <a class="button">First</a>
          <a class="button">Second</a>
          <a class="button">Third</a>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
