<ion-side-menus>
  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item>1</ion-item>
        <ion-item>1</ion-item>
        <ion-item>1</ion-item>
        <ion-item>1</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content>
    <!--
          The nav bar that will be updated as we navigate between views.
        -->
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <!--
        The views will be rendered in the <ion-nav-view> directive below
        Templates are in the /templates folder (but you could also
        have templates inline in this html file if you'd like).
      -->
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
      <!-- Dashboard Tab -->
      <ion-tab title="Demos" icon-off="ion-ios-eye" icon-on="ion-ios-eye" href="#/tab/demos">
        <ion-nav-view name="tab-demos"></ion-nav-view>
      </ion-tab>

      <!-- Account Tab -->
      <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-side-menu-content>
</ion-side-menus>
